ul.botones li {
    display: inline;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
   
  }

table.tabla {
    border-collapse: collapse;
    width: 100%;
  }
  
th.tablehead, td.tabledata {
    text-align: left;
    padding: 8px;
  }
  
.tr:nth-child(even){background-color: #f2f2f2}
  
th {
    background-color: #23947f;
    color: white;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

.table {
    display: table;
    margin: 0 auto;
}

.custom-select {
  padding: 10px;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
  border-radius: 24px 4px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.custom-select-servicio {
  padding: 10px;
  border: 1px solid var(--primary);
  background-color: var(#fff);
  color: rgb(0, 0, 0);
  border-radius: 24px 4px;
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
}